[user]
    email = polleninjp@gmail.com
    name = pollenjp
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHadoX/gHyAg3k5ipU/eBJLx5edNSCN11OJJukvNIeEi

[gpg]
    format = ssh

## DON'T COMMIT WITH UNCOMMENT
##
## Only for WSL
## https://developer.1password.com/docs/ssh/integrations/wsl/#sign-git-commits-with-ssh
#[gpg "ssh"]
#  program = "/mnt/c/Users/polle/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"

[commit]
    gpgsign = true

[includeIf "gitdir:~/workdir/github.com/pollenjp-sub"]
    path = ~/dotfiles/.gitconfig.pollenjp-sub.github.com

[core]
    editor = vim
    quotepath = false
    autocrlf = false

    # for git-delta
    pager = delta

[pager]
    branch = false
[push]
    default = simple
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    w  = switch
    push-f = push --force-with-lease
[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    # for git-delta
    navigate = true

[merge]
    # for git-delta
    conflictstyle = diff3

[diff]
    # for git-delta
    colorMoved = default
[pull]
    rebase = false

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
