[user]
    email = polleninjp@gmail.com
    name = pollenjp

[includeIf "gitdir:~/workdir/github.com/pollenjp-sub"]
    path = ~/dotfiles/.gitconfig.pollenjp-sub.github.com
[includeIf "gitdir:~/workdir/github.jp.klab.com/"]
	path = .gitconfig.github.jp.klab.com
[includeIf "gitdir:~/workdir/github.com/eden734/"]
	path = .gitconfig.eden.github.com

[core]
    editor = vim
    quotepath = false
    autocrlf = false

    # for git-delta
    pager = delta

[pager]
    branch = false
[push]
    default = simple
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    w  = switch
    push-f = push --force-with-lease
[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    # for git-delta
    navigate = true

[merge]
    # for git-delta
    conflictstyle = diff3

[diff]
    # for git-delta
    colorMoved = default
[pull]
    rebase = false

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
